---

---

<div class="flex mt-16 mb-32 h-[50dvh] gap-16 lg:mt-24 lg:mb-32 flex-col justify-center items-center lg:justify-center gap-32">
  <h1 class="text-orange-20 font-bold font-kantumruy text-6xl lg:text-4xl">Nuestras Divisiones:</h1>
  <img src="/Divisiones.png" />
</div>
