---
const today = new Date();
---

<footer class="flex justify-around items-center p-4">
  <h2 class="text-xl lg:text-sm font-atkinson">
    &copy; {today.getFullYear()} Vinculum Soluciones Integrales
  </h2>
  <div>LinkedIn</div>
  <h2 class="text-xl lg:text-sm font-atkinson">vinculumconsultores@gmail.com</h2>
</footer>
