---
import { BurgerMenu } from "./BurgerMenu";
import ScrollButton from "./ScrollButton.tsx";
---

<header class="lg:my-0 p-0 bg-white shadow-custom border-b-2 border-black">
  <nav class="flex items-center h-[150px] lg:h-[100px] justify-between">
    <a href="/" class="p-0 ml-4 md:ml-12"><img src="./vinculum.png" width="200px" height="60px" /> </a>
    <div class="hidden lg:flex md:mr-12 mr-4 gap-4 md:gap-12">
      <ScrollButton client:load componentId="objectives" name="Objetivos" />
      <ScrollButton client:load componentId="divisions" name="Divisiones" />
    </div>
    <BurgerMenu client:load />
  </nav>
</header>
