---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
---

<a href={href} class="text-orange-20 text-base md:text-xl font-atkinson" {...props}>
  <slot />
</a>
