---

---

<div class="flex my-16 h-[50dvh] px-8 bg-white rounded-md lg:mb-64 lg:mt-32 flex-col justify-around items-center lg:flex-row lg:justify-between">
  <div class="flex w-[100%] lg:w-[40%] flex-col justify-center gap-12">
    <h1 class="text-5xl lg:text-4xl text-orange-20 font-kantumruy font-bold">Vinculum: Volviendo a los Orígenes de la Gestión Humana</h1>
    <p class="text-2xl font-kantumruy">
      Servicio personalizado de reclutamiento y selección sin burocracia, con auditorías y soluciones estratégicas para una gestión eficiente y
      humana.
    </p>
  </div>
  <img
    src="/vinculumbackground.png"
    class="opacity-0 animate-on-scroll transform translate-y-20 transition-opacity-transform duration-500"
    width="600px"
    height="300px"
  />
</div>
