---

---

<div class="flex my-64 flex-col items-center lg:flex-row lg:justify-between">
  <div class="flex w-[100%] lg:w-[40%] flex-col justify-center gap-4">
    <h1 class="text-[32px] text-orange-20 font-kantumruy font-bold">Vinculum: Volviendo a los Orígenes de la Gestión Humana</h1>
    <p class="text-xl font-kantumruy">
      Servicio personalizado de reclutamiento y selección sin burocracia, con auditorías y soluciones estratégicas para una gestión eficiente y
      humana.
    </p>
  </div>
  <img src="/vinculumbackground.png" width="600px" height="300px" />
</div>
