---

---

<div class="flex m-8">
  <div class="flex flex-col">
    <h1>Vinculum: Volviendo a los Orígenes de la Gestión Humana</h1>
    <p>
      Servicio personalizado de reclutamiento y selección sin burocracia, con auditorías y soluciones estratégicas para una gestión eficiente y
      humana.
    </p>
  </div>
  <img src="/vinculumbackground.png" width="500px" height="500px" />
</div>
