---

---

<div class="flex m-8 flex-col items-center lg:justify-center gap-16">
  <h1 class="text-orange-20 font-bold font-kantumruy text-5xl">Nuestros Objetivos:</h1>
  <div class="grid grid-rows-2 grid-cols-2 gap-8">
    <p class="w-[80%] font-kantumruy">
      Brindar un servicio personalizado de reclutamiento, hunteo y selección de personal, sin la burocracia de las actuales consultoras a través de un
      sistema ágil, único y unipersonal (Por ejemplo, asignando una especie de “Agente de cuenta” de la consultora a cada cliente) ofreciendo también
      como un adicional del servicio, un servicio de auditoria y control (Con los correspondientes manuales de tipo de cada recurso ingresado) con los
      índices de rotación de la empresa.
    </p>
    <p class="w-[80%] font-kantumruy">
      Ofrecer también una auditoria externa de la situación de RRHH a las empresas mediante el uso de análisis FODA con posteriores planes de trabajo
      para mejorar la situación actual de la plantilla y poder ajustar los costos y de nir procesos y procedimientos para un mejor desarrollo de las
      tareas diarias dentro de las empresas.
    </p>
    <p class="w-[80%] font-kantumruy">
      Ofrecemos también, dinámicas de trabajo en las organizaciones para in uenciar positivamente trasnformaciones culturales, modelos de
      comunicación, construcción de equipos de alta performance. Para ello realizamos siempre un diagnóstico previo, y co construimos soluciones a
      desarrollar que involucran: coaching ontológico para mandos medios y altos, dinámicas de team building, actividades de introspección con
      técnicas agiles de management 3.0 y capacitaciones sobre performance comercial.
    </p>
    <div class="w-[80%] flex justify-center items-center">
      <img src="/DiagramaVern.png" />
    </div>
  </div>
</div>
