---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="es">
  <body>
    <Header />
    <main><slot /></main>
    <Footer />
  </body>
</html>
